body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(9, 20, 29);
}

#navbar-head {
    background-color: rgb(212, 145, 20);
    border: 0;
    border-radius: 0;
    /* height: 72px; */
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#company-brand {
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 1.75em;
    text-shadow: 1px 1px 1px black;
    vertical-align: middle;
    color: black;
}

/*Begin the menu */

/* #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  } */

.text-center{
    font-size: 2em;
    padding: 10px;
    display: block;
    clear: both;
}

#chicken-paragraph {
    margin-right: 50px;
    background-color: rgb(238, 66, 66);
}

#chicken-paragraph h3 {
    text-align: center;
}

/*Mobile only*/
@media(max-width: 767px) {
    #collapsable-nav  a { /* Collapsed nav menu text */
        font-size: 1.5em;
        text-align: center;
        border: 1px solid black;
        background-color: rgb(213, 216, 32);
    }

    /* #collapsable-nav {
        margin-top: ;
    } */

    #collapsable-nav{
        border: 0;
        /* margin-top: -10px; */
    }

    .navbar-header button.navbar-toggle {
        clear: both;
        margin-top: -30px;
    }  
}

/*Any thing bigger than mobile*/
@media(min-width: 768px) {
    #collapsable-nav li {
        display: none;
    }
}

/*lg device only*/
@media(min-width: 1200px) {
    #company-brand {
        margin-left: -26%
    }
}